* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    width: 100%;
    height: 100px;

}

.header img {
    height: 120px;
    padding-top: 10px;
    padding-left: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    font-family: 'Lato', sans-serif;
    width: 100%;
    position: relative;
    margin-left: 220px;
}

.nav-links li {
    margin: 0 15px;
    padding: 0px 25px;
}

.nav-links a {
    text-decoration: none;
    color: #24161C;
    font-size: 12px;
    font-weight: 400;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.cta-header a {
    display: inline-block;
    background-color: #C3A07B;
    color: white;
    width: 180px;
    border-radius: 50px;
    padding: 16px;
    text-align: center;
    margin-top: -40px;
    margin-left: 160px;
    text-transform: capitalize;
}








.hero {
    width: 100%;
    height: 800px;
    background-image: url(../images/image-hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    margin-left: 120px;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: white;
    padding-top: 100px;
}

.sub {
    color: #F4E0C4;
}

.hero-content p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 13px;
    padding-top: 70px;
    width: 430px;
    line-height: 30px;
}

.hero-content .join {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    background-color: #C3A07B;
    color: white;
    width: 180px;
    border-radius: 50px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    margin-top: 70px;
    font-size: 12px;
}

.hero-content .watch {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    font-size: 12px;
    color: #C3A07B;
    border: 1px solid #C3A07B;
    width: 180px;
    border-radius: 50px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    margin-left: 25px;
}









/*** time and location ***/

.oval-container {
    width: 650px;
    height: 200px;
    background: black;
    color: #A52A2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    box-shadow: 0px -15px 0px rgba(0, 0, 0, 0.3);
    padding: 25px;
    transition: transform 0.3s ease-in-out;
    margin: auto;
    margin-top: -70px;
    font-family: 'Playfair Display', serif;

}


.oval-container img {
    width: 25px;
    vertical-align: middle;
    /* Keeps it aligned properly */
}


.oval-container .service-time h2,
.oval-container .location-info h2 {
    color: #F4E0C4;
    font-size: 30px;

    display: flex;
    align-items: center;
    /* Keeps text and image aligned */
    gap: 8px;
    /* Adds spacing between the image and text */
}


.oval-container:hover {
    transform: scale(1.05);
}

.location-info,
.service-time {
    width: 45%;
    text-align: initial;
}

.location-info h2,
.service-time h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.location-info p,
.service-time p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.9;
    color: #ffffff;
    padding-left: 32px;
    font-weight: normal;
    line-height: 30px;
}

.divider {
    width: 2px;
    height: 70%;
    background: white;
    opacity: 0.5;
}












/* General Section Styling */
.about-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    padding-top: 140px;
}

/* About Us Button */
.about {
    position: absolute;
    top: 30px;

    border: 1px solid #C3A07B;
    color: #C3A07B;
    text-align: center;
    width: 180px;
    padding: 13px;
    border-radius: 50px;
    text-decoration: none;

    margin-left: 25px;
    left: 20px;
    font-family: 'Lato', sans-serif;
    z-index: 10;
    font-size: 12px;
}




/* Left Page */
.left-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Right Page */
.right-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
}

.right-page h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: #24161C;
    margin-bottom: 20px;
    padding-bottom: 0;

}

.right-page p {
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    color: #C3A07B;
}

.right-page ul {
    padding-left: 20px;
}

.right-page ul li {
    font-size: 14px;
    margin-bottom: 10px;
    color: #C3A07B;
    font-family: 'Lato', sans-serif;
}

/* Reach Out Button */
.reach {
    display: inline-block;
    background-color: #C3A07B;
    color: white;
    width: 180px;
    border-radius: 50px;
    padding: 16px;
    text-align: center;
    text-decoration: none;

    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 12px;
}





















/* Social Proof Section */
.social-proof-container {
    position: relative;
    width: 100vw;
    height: 700px;
    overflow: hidden;
    border-radius: 53px;
    margin-top: 150px;
    margin-bottom: 100px;



}


/* Background Image */
.social-proof-container .excess img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;



}


/* Social Proof */
.social-proof {
    color: 24161C;
    padding: 50px 20px;
    text-align: center;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 53px;
}

.social-proof .ellipse {
    position: relative;
    width: 65px;
    margin: 0 auto;
}

.social-proof h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    margin-top: 30px;
}

.testimonials {
    margin: auto;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 29px;
}


.stats-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.stat-box {
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.stat-box h3 {
    font-size: 40px;
    margin: 0;
    font-family: 'Playfair Display', serif;
    display: flex;
    /* Enables horizontal alignment */
    align-items: center;
    /* Centers text and image vertically */
    gap: 18px;
    /* Adds space between image and text */
}

.stat-box h3 img {
    width: 30px;
    /* Adjust size as needed */
    height: auto;
    position: relative;
    padding-top: 20px;
}

.stat-box p {
    margin-top: 15px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}












/* Leadership Section */
.leadership {
    background-color: white;
    color: #24161C;
    text-align: center;
    margin: 0;
    padding: 0;
}

.leadership h2 {
    font-size: 43px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.leadership h2 .hearts {
    color: #C3A07B;
}

.leadership p {
    color: #C3A07B;
    font-family: 'Lato', sans-serif;
    font-size: 27px;
}

.leaders-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    margin-top: 110px;
}

.leader-card {
    border-radius: 30px;
    width: 280px;
    height: 320px;
    border: 1px solid #DED2B8;
}

.leader-card img {
    width: 280px;
    border-radius: 30px 30px 0px 0px;
}

.leader-card .text {
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
}

.leader-card p {
    color: #929292;
    font-size: 21px;
    font-weight: normal;
}

.leader-card h3 {
    color: #24161C;
    font-size: 27px;
    margin-top: 12px;
    font-weight: normal;
}
















.blog-container {
    margin-top: 100px;
}

.blog-container h2 {
    font-size: 40px;
    color: #23161c;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.blog-container .lower {
    font-size: 27px;
    color: #c3a07b;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    letter-spacing: normal;
}


/**  blog-section  **/
.blog-section {
    display: flex;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}

.blog-post {
    width: 40%;
    margin: 30px;
    text-align: left;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Lato', sans-serif;
}


.blog-post img {
    width: 80%;
    border-radius: 15px;
}

.blog-post h3 {
    color: #24161c;
    font-size: 25px;
}

.blog-post p {
    color: #4d3f31;
    font-size: 13px;
    line-height: 25px;
    word-spacing: 4px;
}

.read-more {
    text-decoration: none;
    background-color: #c3a07b;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 120px;
}

.label {
    display: none;
}








.diagonal {
    margin: auto;
    width: 95%;
    height: 500px;
    background-color: #6E5A48;
    margin: auto;
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
    padding: 40px 20px;
    position: absolute;
    left: 5%;
    top: 4030px;
    border-top-left-radius: 200px;
    overflow: hidden;

}




/* Footer CSS */


.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #2a2a2a;
    color: #DED2B8;
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
    padding: 40px 20px;
    padding-top: 100px;
    border-top-left-radius: 200px;
    overflow: hidden;

}


.footer>div:not(.church-name) {
    min-height: 200px;
    /* Ensures all sections except .church-name have this height */
}


/* Address */
.footer .address {
    width: 30%;
    font-size: 13px;
    line-height: 30px;
    padding-left: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    margin-top: 43px;
}

.croped img {
    width: 99px;
    height: 80px;
}

.address img {
    padding-right: 20px;
}

.filler {
    font-size: 14px;
    font-weight: normal;
}

/* Navigation Links */
.footer .nav,
.com {
    width: 20%;
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
    line-height: 42px;
    margin-top: 40px;
}

.com {
    padding-left: 0%;
}

.footer .nav h3,
.com h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;

}

.footer .nav ul,
.com ul {
    list-style: none;

}

.footer .nav ul li a,
.com ul li a {
    color: #DED2B8;
    text-decoration: none;
    font-size: 14px;
}




/* Social Media */
.footer .social-media {
    margin-top: 40px;
    width: 15%;
}

.footer .social-media h3 {
    color: #DED2B8;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: -68px;
    font-family: 'Lato', sans-serif;
}

.footer .social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 58%;
}


.social-media img {
    width: 40px;
}











.footer-bottom {
    background-color: #2a2a2a;
    height: 60px;
}

.footer-line {
    width: 92%;
    /* Adjust this to control the line width */
    height: 1px;
    /* Line thickness */
    background-color: #DED2B8;
    /* Line color */
    margin: 0 auto 10px auto;
    /* Center the line and add spacing */
    margin-bottom: 20px;
}

.copyright {
    color: #DED2B8;
    font-size: 13px;
    padding-left: 4%;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}